.menu {
  list-style: none;
  margin: 0;
  padding: 12px;
  display: flex;
  justify-content: space-around; 
  background: #f4f4f4;          
  border-bottom: 2px solid #ccc; 
}

.menu li a {
  text-decoration: none;
  color: #333;                
  font-weight: normal;
  font-family: Arial, sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Verdana", sans-serif;
  background: #ffffff; 
  color: #444;
  line-height: 1.5;
}


main {
  
  max-width: 800px;
  margin: 20px auto;
  padding: 0 15px;
}


h1 {
  font-size: 32px;
  text-align: left;
  color: #008000;   
  margin-bottom: 15px;
}

h2 {
  font-size: 22px;
  text-align: left;
  color: #eeca06;  
  margin: 25px 0 10px;
  border: none;     
}


p {
  font-size: 0.95rem;
  margin: 0 0 1.2rem;
  text-align: left;
  color: #555;
}



img {
  display: block;
  margin: 20px auto;
  width: 100%;        
  max-width: 450px;  
  
}

hr {
  border: none;               
  height: 4px;                 
  background: #006699; 
}